body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
}


button {
    align-items: center;
    text-align: center ;
    height: 75px;
    width: 200px;
    font-size: 30px;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    
}